@model IEnumerable<TeamRedInternalProject.ViewModel.TicketSalesVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalTicketsPurchased = (int)(ViewData["TotalTicketsPurchased"] ?? 0);
    decimal totalRevenue = (decimal)(ViewData["TotalRevenue"] ?? 0.0);

}

<h1>Admin Dashboard</h1>
<div class="d-flex gap-4">
  <div class="bg-white text-center py-4 flex-fill">
        <h2 class="text-black">@totalTicketsPurchased</h2>
    <h4>Total Tickets Purchased</h4>
  </div>
  <div class="bg-white text-center py-4 flex-fill">
        <h2 class="text-black">@totalRevenue.ToString("C")</h2>
    <h4>Total Ticket Revenue</h4>
  </div>
</div>


<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ticket Type
                </th>
                <th>
                    Quantity Sold
                </th>
                <th>
                    Quantity Remaining
                </th>
                <th>
                    Revenue
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>
                        @item.TicketType
                    </td>
                    <td>
                        @item.TicketsSold
                    </td>
                    <td>
                        @item.TicketsAvailable
                    </td>
                    <td>
                        @item.Revenue.ToString("C")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>