@model IEnumerable<TeamRedInternalProject.ViewModel.TicketSalesVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalTicketsPurchased = (int)(ViewData["TotalTicketsPurchased"] ?? 0);
    decimal totalRevenue = (decimal)(ViewData["TotalRevenue"] ?? 0.0);
    string? errorMessage = ViewData["DeleteErrorMessage"]?.ToString();

}

<h1>Admin Dashboard</h1>
<div>
    <div class="d-flex gap-4">
        <div class="bg-white text-center py-4 flex-fill rounded">
            <h2 class="text-black">@totalTicketsPurchased</h2>
            <h4>Total Tickets Purchased</h4>
        </div>
        <div class="bg-white text-center py-4 flex-fill rounded">
            <h2 class="text-black">@totalRevenue.ToString("C")</h2>
            <h4>Total Ticket Revenue</h4>
        </div>
    </div>


    <div>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ticket Type
                    </th>
                    <th>
                        Ticket Price
                    </th>
                    <th>
                        Quantity Sold
                    </th>
                    <th>
                        Quantity Remaining
                    </th>
                    <th>
                        Revenue
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="border:transparent">
                        <td>
                            @item.TicketType
                        </td>
                        <td>
                            @item.Price.ToString("C")
                        </td>
                        <td>
                            @item.TicketsSold
                        </td>
                        <td>
                            @item.TicketsAvailable
                        </td>
                        <td>
                            @item.Revenue.ToString("C")
                        </td>
                        <td>
                            <a asp-controller="TicketType" asp-action="Delete" asp-route-ticketTypeId="@item.TicketTypeId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (errorMessage != "")
        {
            <p class="text-danger">@errorMessage</p>
        }
        

        <div class="row">
            <div class="col-12 text-center mt-5">
                <a asp-controller="TicketType" asp-action="Create" class="btn btn-info" id="btnHome">Add Ticket Type</a>
                <a asp-controller="Role" asp-action="Index" class="btn btn-info" id="btnHome">User Roles</a>
            </div>
        </div>
    </div>
</div>
