@model IEnumerable<TeamRedInternalProject.ViewModel.TicketOptionVM>

@{
    ViewData["Title"] = "PurchaseTickets";

    string TicketStatus (int quantityAvailable)
    {
        if (quantityAvailable == 0)
        {
           return "SOLD OUT!";
        }
        if (quantityAvailable <= 10)
        {
           return  $"ONLY {quantityAvailable} LEFT!";
        }

        return "Available";
                 
    }
}

<h1>Buy Tickets</h1>

<table class="table pl-3">
    <thead >
        <tr >
            <th class="px-3">
                Ticket
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType.Price)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.QtyRemaining)*@
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="border:transparent">
        @foreach (var item in Model) {
            <tr class="">
                <td class="px-3">
                    @Html.DisplayFor(modelItem => item.TicketType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Price)
                </td>
                <td>
                        @TicketStatus(item.QtyAvailable)
                </td>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <td class="d-flex flex-wrap purchase-area">
                        <div class="d-flex gap-2 align-items-center" style="width: 60px; height: 30px; position: relative;">
                           <button
                                id="@item.Id-add" 
                                data-type="@item.TicketType.Type" 
                                data-price="@item.TicketType.Price"
                                data-qty="@item.QtyAvailable"
                                onclick=updateShoppingCart(event)
                                class="nav-link btn bg-transparent btn-hover"
                                style="position: absolute; top: -8px;"
                           >
                                <i class="bi bi-bag-plus" style="font-size: 20px;"></i>
                            </button>
                            <button 
                                id="@item.Id-remove" 
                                data-type="@item.TicketType.Type" 
                                data-price="@item.TicketType.Price" 
                                data-qty="@item.QtyAvailable"
                                onclick=updateShoppingCart(event)
                                class="nav-link btn bg-transparent btn-hover"
                                style="position: absolute; top: -8px; left: 30px;"
                            >
                                <i class="bi bi-bag-x" style="font-size: 20px;"></i>
                            </button>
                        </div>
                        <div class="d-flex gap-2">
                            <span>Quantity:</span>
                            <span id="@item.Id-quantity" class="quantity">0</span>
                            <span>Amount: </span>
                            <div style="width: 20px;">$<span id="@item.Id-amount" class="amount">0.00</span></div>
                        </div>

                    </td>

                }
            </tr>
        }
    </tbody>
</table>
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-transparent">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <h3 class="card-title mb-0">Tickets:</h3>
                        <h3 class="card-text mb-0" id="totalItems">0</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-transparent">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <h3 class="card-title mb-0">Total:</h3>
                        <div class="card-text d-flex align-items-center"><h3 class="mb-0">$</h3><h3 id="totalAmount" class="totalAmount mb-0">0.00</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*    <div class="container">
        <div class="col">
            <h3>Total Tickets:</h3>
            <p id="totalItems">0</p>
        </div>
    </div>

    <div>
        <h3>Total:</h3>
        $<span id="totalAmount" class="totalAmount">0.00</span>
    </div>
    <br />*@

    <div id="paypal-button"></div>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
}


@if (User.Identity == null || !User.Identity.IsAuthenticated)
{
@*    <button>
        <a class="nav-link text-dark" href="/Identity/Account/Login">Login to Purchase</a>
    </button>*@
    <div class="d-flex justify-content-center">
        <a type="button" class="nav-link btn btn-primary login-hover" href="/Identity/Account/Login">Login to Purchase</a>
    </div>
@*    <button class="nav-link btn btn-primary bg-transparent btn-hover"
            type="button"
            onclick="window.location.href='/Identity/Account/Login'">
        Login to Purchase
    </button>

    <div class="d-flex justify-content-center">
        <a type="button" class="nav-link btn btn-primary btn-hover" asp-action="PurchaseTickets">Purchase Tickets Now</a>
    </div>*@
}

<script src="~/js/site.js"></script>
<style>
    @@media (min-width: 767px) {
        .purchase-area {
            gap: 25px;
        }
    }
    .btn-hover:hover {
        background-color: orangered;
        color: orangered;
        text-shadow: 0px 2px 4px #b5739d;
    }

    .btn-hover {
        color: black;
        border: none;
        padding: 0;
        margin: 0;
}

    .login-hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: orangered;
        border: 1px solid white;
        margin-bottom: 20px;
        width: 200px;
    }

    .login-hover:hover {
        background-color: orangered;
        color: white;
        border: 1px solid orangered;
        box-shadow: 0px 2px 4px #b5739d;
    }

</style>
