@model IEnumerable<TeamRedInternalProject.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tickets</h1>

<div>
    <a asp-action="PurchaseTickets" class="btn btn-info" >Buy Tickets</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Festival)
            </th>
            <th>
                Order #
            </th>
            <th>
                Admission Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Festival.FestivalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.TicketTypeId)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |*@
@*                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>*@
                 <a asp-action="#0" asp-route-id="@item.TicketId">Download Ticket</a>
            </td>
        </tr>
}
    </tbody>
</table>
