@model TeamRedInternalProject.ViewModel.OrderConfirmationVM

@{
    ViewData["Title"] = "PurchaseConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PurchaseConfirmation</h1>

<div>
    <h4>OrderConfirmationVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Order ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            Order Date
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName) 
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Account Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderEmail)
        </dd>
        <dt class = "col-sm-2">
            Payment Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayerEmail)
        </dd>
        <dt class = "col-sm-2">
            Tickets
        </dt>
        @foreach (var entry in Model.TicketTypes) 
        {
                <dd class="col-sm-10">
                Type: @Html.DisplayFor(modelItem => entry.Key) | 
                Quantity: @Html.DisplayFor(modelItem => entry.Value) 
                </dd>
        }

    </dl>
</div>
<div>
@*    Update this!!*@
    <a asp-action="Index">Back to List</a>
</div>