@model IEnumerable<TeamRedInternalProject.ViewModel.TicketOptionVM>

@{
    ViewData["Title"] = "PurchaseTickets";
}

<h1>Buy Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType.Price)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.QtyRemaining)*@
                Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Price)
            </td>
            <td>
                @(item.QtyAvailable != 0 ? "Available" : "SOLD OUT!")
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                    <td>
                        <input 
                            type="button" 
                            value="Add To Cart" 
                            id="@item.Id-add" 
                            data-type="@item.TicketType.Type" 
                            data-price="@item.TicketType.Price"
                            data-qty="@item.QtyAvailable"
                            onclick=updateShoppingCart(event)
                        >
                        <input 
                            type="button" 
                            value="Remove From Cart" 
                            id="@item.Id-remove" 
                            data-type="@item.TicketType.Type" 
                            data-price="@item.TicketType.Price" 
                            data-qty="@item.QtyAvailable"
                            onclick=updateShoppingCart(event)
                        >
                        <span>Quantity:</span>
                        <span id="@item.Id-quantity" class="quantity">0</span>
                        <span>Amount: </span>
                        <span id="@item.Id-amount" class="amount">0.00</span>
                    </td>
            }
        </tr>
}
    </tbody>
</table>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <p id="totalItems">0</p>
    </div>
    <div>
        <h3>Total:</h3>
        $<span id="totalAmount" class="totalAmount">0.00</span>
    </div>
    <br />

    <div id="paypal-button"></div>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
}

@if (!User.Identity.IsAuthenticated)
{
    <button>
        <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
    </button>
}

<script src="~/js/site.js"></script>
