@using TeamRedInternalProject.Models
@model TeamRedInternalProject.Utilities.PaginatedList<User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>User Roles</h2>
<form asp-action="Index" asp-controller="Role" method="get">
    <div class="form-actions no-color">
        <p>
            <div class="form-group" style="display: inline-block">
                <span>Search on Name:</span>
                <input type="text" name="SearchString" required />
            </div>
            <div class="form-group" style="display: inline-block">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
            <a asp-action="Index" asp-controller="Role">Back to Full List</a>
        </p>
    </div>
</form>



<table>
    <thead>
        <tr>
            <th>User</th>

            <th>Change Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form asp-action="Index" asp-controller="Role" method="post">
                        <input type="hidden" name="Email" value="@user.Email" />
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="Role">
                            <input class="form-check-input" type="checkbox" value="admin" @(user.Admin == true ? "checked" : "") />
                            Admin
                        </label>
                            <button type="submit">Save</button>
                         </div>

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-controller="Role"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-controller="Role"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

@ViewBag.Message
