@model TeamRedInternalProject.ViewModel.CreateTicketVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Ticket Type</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.TicketType.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TicketType.Type, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TicketType.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TicketType.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TicketType.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TicketType.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <h3>Festival Ticket Type</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.FestivalTicketType.FestivalId, "Festival", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FestivalTicketType.FestivalId, new SelectList(Model.Festivals, "FestivalId", "Location"), "Select a festival", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FestivalTicketType.FestivalId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FestivalTicketType.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FestivalTicketType.Quantity, new { htmlAttributes = new { @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.FestivalTicketType.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
